html {
	margin: auto;
	padding: 0;
	
}
h1 {
	text-align: center;
}
p {
	text-align: center;
	font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(117, 9, 32);
  transition: all 4.9s;
  border-radius: 8px;

}
.head {
	text-align: center;
	font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(117, 9, 32);
  transition: all 4.9s;
  border-radius: 8px;

}
footer {
	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0;
	margin: 5% 5%;
	background-color: rgb(117, 9, 32);
	color: white;
	border-radius: 8px;
	bottom: 0;
  }

body  {
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-color: #181818;
}
.code {
	text-align: center;
}
.p1{
	text-align: center;
}
#main{
	
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0;
	margin: 1% 5%;
}
.logo {
	width: 100px;
	height: 80px;
	margin: 0% 0%;
	padding: 0% 0%;
	border-radius: 8px;
}
.logoDiv{
	text-align: center;
	background-color: #181818;
	overflow: hidden;
	height: 85px;
	width: 100%;
	margin: 0%;
	padding: 0% 0%;
	border-radius: 0px;
}

.row {
	display: flex;
	padding-top: 0px;
	position: relative;
	overflow: auto;
	transition: all 4.9s;
}
.row1 {
	display: flex;
	padding-top: 30px;
	position: relative;
	overflow: auto;
	transition: all 1.9s;
}
.column {
	flex: 33.33%;
	padding: 12px;
	padding-top: 100px;
	display: inline-block;
    overflow: hidden;
	
	
}
img:hover {
    transform:scale(1.1);
	border-radius: 8px;
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}
.images{
	width: 100%;
	height: 300px;
}
.images2 {
	width: 50px;
	height: 50px;
}


.topnav {
	overflow: hidden;
	margin: 0% 0%;
	background-color: rgb(117, 9, 32);
	border-radius: 8px;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: rgb(155, 12, 12);
	color: white;
  }
  
  .topnav .search-container {
	float: right;
  }
  
  .topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
  }
  
  .topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: rgb(77, 77, 77);
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
  .topnav .search-container button:hover {
	background: #181818;
  }
  
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  .mySlides {display:none;}

 
  
 